body{
background-image:url(../img/fundo1.gif);
background-repeat:repeat;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:20px;
margin:0px;
margin-bottom:0px;
padding:0px;
}
table{
font-size: 10pt;
line-height:18px;
}
a:link{
text-decoration: none;
color:#000099; 
}
a:visited{
text-decoration: none;
color:#006600;
}
a:hover{
text-decoration: none;
color:black; 

}
a:active{
text-decoration: none;
color:#000099; 
}
.style1 {
color: #0000FF;
font-size: 18px;
}